.weather-card-today-container {
    width: 100%;
    margin-top: 40px;
    .todays-weather-heading {
        
        font-family: Georgia;
        font-size: 24px
    }
    .weather-card {
        border: 2px solid rgb(219, 213, 213);
        border-radius: 5px;
        height: 60px;
        padding: 10px 50px 10px 50px;
        .table-data {
            align-items: center;
            .data1 {
                width: 200px;
            }
            .data2 {
                width: 100px;
            }
            .data3 {
                width: 250px;
            }
        }
    }
}