.forecast-contianer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    .weeks-and-units-div {
        .weeks-div {
            float: left;
            border: 1px solid rgb(82, 82, 144);
            border-radius: 5px;
            height: 40px;
            display: flex;
            align-items: center;
            .span {
                padding: 10px;
                color: rgb(69, 115, 208);
                cursor: pointer;
            }
            .active {
                background-color: rgb(187, 220, 233);
                height: 20px;
            }
            .active1 {
                background-color: rgb(187, 220, 233);
                height: 20px;
                border-radius: 5px 0 0 5px;
            }
            .active2 {
                background-color: rgb(187, 220, 233);
                height: 20px;
                border-radius: 0 5px 5px 0;
            }
            .border-span {
                border-left: 1px solid rgb(82, 82, 144);
                height: 100%;
            }
        }
        .forecast-data-types {
            float: right;
            border: 1px solid rgb(82, 82, 144);
            height: 40px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            .icon-style {
                width: 40px;
                cursor: pointer;
            }
            .border-span {
                border-left: 1px solid rgb(82, 82, 144);
                height: 100%;
            }
        }
    }
    .table {
        margin-top: 40px;
        margin-bottom: 40px;
        .table-border {
            border-collapse: collapse;
            .table-row {
                border: 1px solid rgb(196, 194, 194);
                border-collapse: collapse;
                height: 40px;
                .table-heading {
                    height: 40px;
                    width: calc(70vw/8);
                    background-color: rgb(225, 225, 225);
                }
                .table-time {
                    height: 40px;
                    width: calc(70vw/8);
                    text-align: center;
                    background-color: rgb(225, 225, 225);
                }
                .table-data {
                    height: 40px;
                    width: calc(70vw/8);
                    text-align: center;
                }
            }
        }
    }
}