.weather-forecast-app {
  margin: 0 15vw 0 15vw;
}

.input-field-div {
  width: 70vw;
}

.input-field {
  height: 40px;
  width: 96%;
  margin-top: 20px;
  border: 1px solid rgb(186, 186, 228);
  border-radius: 5px;
  padding: 0 2% 0 2%;
}

input::placeholder {
  color:rgb(172, 172, 222);
}

input:focus-visible {
  border: 1px solid rgb(186, 186, 228);
  border-radius: 5px;
}