.forecast-card-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  .places-section {
    .city-name {
      float: left;
      font-family: Georgia;
      font-size: 22px;
      font-weight: 600;
      .state-country {
        color: rgb(125, 142, 142);
        font-size: 16px;
      }
    }
    .right-div {
      float: right;
      border: 1px solid black;
      border-radius: 5px;
      .span {
        padding: 0 10px 0 10px;
        cursor: pointer;
      }
      .active1 {
        background-color: rgb(153, 185, 219);
        border-radius: 5px 0 0 5px;
      }
      .active2 {
        background-color: rgb(153, 185, 219);
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .forecast-banner {
    margin-top: 40px;
    background-image: linear-gradient(
      to right,
      rgb(15, 69, 162),
      rgb(80, 112, 198)
    );
    border-radius: 15px;
    padding: 20px 40px 20px 40px;
    .today-weather {
      .temp-cloud {
        display: flex;
        flex-direction: row;
        align-items: center;
        .cloud-icon {
          display: inline;
        }
        .temp-and-condition {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .today-temp {
            color: white;
            font-family: "Times New Roman";
            font-weight: 600;
            font-size: 22px;
          }
          .condition {
            color: white;
            font-family: "Times New Roman";
            font-size: 16px;
          }
          .wind {
            margin-left: 40px;
            color: rgb(199, 197, 197);
            font-family: "Times New Roman";
            font-size: 16px;
          }
        }
        .wind-pressure {
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20vw;
            .wind {
              color: rgb(199, 197, 197);
              font-family: "Times New Roman";
              font-size: 16px;
            }
          }
      }
    }
    .week-all-conditions {
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin-top: 60px;
        margin-bottom: 30px;
        .each-day {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(70vw/6);
            span {
                color: rgb(230, 229, 227);
                font-family: Arial;
                font-weight: 400;
                margin-top: 10px;
            }
        }
    }
  }
}

